{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/gestion_datos.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <style>
        .ultima-actualizacion {
            font-style: italic;
            color: #555;
            margin-top: 10px;
            display: block;
        }
    </style>
</head>

<body>
    <section class="layout">
        <div class="header"> {% include 'includes/navbar.html' %}</div>
        <div class="main-content">
            <header>
                <h1>{{ titulo }}</h1>
                <p>{{ subtitulo }}</p>
                </header>
            <main>
                <div class="form-container">
                    
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

<form method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            
            {% if 'monto_fijo' in field.name %}
                 <div class="input-with-prefix">
                    <span class="prefix">Bs</span>
                    {{ field }}
                </div>
            
            {% elif 'porcentaje' in field.name %}
                <div class="input-with-suffix">
                    {{ field }}
                    <span class="suffix">%</span> 
                </div>
            
            {% else %}
                {{ field }}
            {% endif %}

            {% if field.help_text %}
                <small class="text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    
    {% if form.non_field_errors %}
        <div class="error-message non-field-errors">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div class="button-group">
        <div>
            <button type="submit" class="btn guardar">Guardar</button>
        </div>
        <a href="{% url 'home' %}" class="btn cancelar">Cancelar</a>
    </div>
</form>
                </div>
            </main>
        </div>
    </section>
</body>

</html>