{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/gestion_datos.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>
    {% block content %}
    <div class="header"> {% include 'includes/navbar.html' %}</div>
    <div class="container">

        <h2>Generar Nómina Grupal</h2>


        <form method="post" class="clean-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-group">
                <button type="submit" class="btn btn-primary">Generar Nóminas</button>
            </div>
        </form>

    </div>

    {% endblock %}
</body>

</html>