{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body>
    <div class="container">
        <form method="post">
            <h2>Inicio de Sesión</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %} {% if forloop.last %}
                    class="mensaje-mas-reciente" {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar Sesión</button>


        </form>
    </div>
</body>

</html>