body {
    padding-top: 20px;
    background-color: #f8f9fa;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    margin-bottom: 20px;
}

.table {
    margin-top: 20px;
}


.search-nomina-container {
    padding: 10px 15px;
    background: #f8f9fa;
    border-radius: 5px;
    margin: 10px 0;
}

.search-nomina-container .form-inline {
    display: flex;
    width: 100%;
}

.search-nomina-container .input-group {
    width: 100%;
}


.table-responsive {
    margin-top: 20px;
}