body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Espacio de la ventana */
    margin: 0;
    background-color: #f7f9fc;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    color: #2c7a7b;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bcd4e6;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #3182ce;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    transition: background-color 0.3s;
    font-size: 100%;
}

button:hover {
    background-color: #2b6cb0;
}

.auth-status {
    margin-top: 10px;
    color: #f56565;
    text-align: center;
}

.btn {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}

.btn:hover {
    background-color: #005f73;
}