body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}



h1 {
    color: #008080;
    overflow: hidden;
}

.btn {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 0;
}

.btn:hover {
    background-color: #005f73;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}